
/*================== RESET ====================*/

/*
body {
	font-family: "Open Sans Light", Arial, SansSerif;
	font-style: normal;
	background-color: #333;
}

div, ul, li, p{
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
			//border: 1px solid #bbb;
}

*/

/*==================================== carousel */

body {
    background: #F0EFE7;
    margin: 0;
    padding: 0;
    font: 15px/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4E443C;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

.wrapper {
    max-width: 620px;
    padding: 0 20px 40px 20px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

h1 {
    color: #4E443C;
    font-size: 36px;
    font-weight: bold;
}

h2, h2 a {
    color: #F14E32;
}

h3, h3 a {
  color: #0388A6;
}

a {
  color: #0388A6;
}

/*==================================================== menu */

nav {
    background-color:#575;
    padding:0px 0;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
    position:relative;
}

/* sub navigation */
nav li ul { 
	background-color:#565;
	position:absolute;
	left:0;
	top:40px; /* make this equal to the line-height of the links (specified below) */
	width:200px;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
}
nav li li ul {
    position:absolute;
    top:0;
    left:200px; /* make this equal to the width of the sub nav above */
    margin:0;
}

/* style all links */
nav a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
}
nav a {
    color:#fff;
    text-decoration:none;
    display:block;
}

nav a:hover,
nav a:focus,
nav a:active {
    /*color:rgb(50,50,50);*/
}

/* style sub level links */
nav li li a {
    border-bottom:solid 1px #454;
    margin:0 10px;
    padding:0;
}
nav li li:last-child a {
    border-bottom:none;
}

/* show arrows for dropdowns */
nav li.dropdown > a {
    background-image:url('../img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

nav li li.dropdown > a {
    background-image:url('../img/arrow-right.png');
    background-position:right 16px;
    background-repeat:no-repeat;
}

/* hide sub menu links */
ul.sub-menu {
    display:none;
}

.test{
	background-color: #bbb;
	width: 300px;
	height: 100px;
}


/*Drop Down Box*/


/*Check Box*/

.niceCheck {
	margin: 4px 0 0 10px;
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url(../img/checkbox-sprite.png);
}

.niceCheck input {
	display: none;
}


